* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Gelasio', serif;
  font-size: 12px;
}

h3 {
  margin: 0.25rem 1rem;
}

#main-column, #right-column {
  height: 100%;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

#main-column {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

#right-column {
  width: 20vw;
}

#command-bar {
  display: flex;
}

#room {
  padding: 4px;
}

#game {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 4px;
  background-color: whitesmoke;
  flex-grow: 1;
  white-space: pre-wrap;
}

p {
  margin: 0;
  padding: 0;
}

#input-container {
  flex-grow: 1;
}

input {
  /* height: 1.2rem; */
  width: 100%;
}

.monospace {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.85rem;
}

strong {
  font-weight: 600;
}

#app-container {
  /* display: flex;
  flex-direction: row; */
  height: 100vh;
  margin: 0;
  border: 0;
}

#main-content {
  display: flex;
  flex-direction: row;
  height: 85vh;
  /* todo: figure out height better */
}

#bottom-panel {
  height: 15vh;
}

#compass-container {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.compass-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.compass-square {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compass-square {
  text-align: center;
  color: rgba(0, 0, 0, .10);
}

.compass-square[data-direction-exists="true"]:hover {
  color: blue;
  cursor: default;
}

[data-direction-exists="true"] {
  color: black;
}

.room-mob {
  font-weight: 700;
}

.room-item:hover,
.room-mob:hover,
.room-exit:hover,
.room-player:hover,
.held-item:hover {
  text-decoration: underline;
  cursor: default;
}

#roundtime {
  display: inline-block;
  text-align: center;
  width: 25px;
}

#body-position {
  display: inline-block;
  width: 50px;
}

#vitals-bar {
  display: flex;
  justify-content: space-between;
}

#health,
#mana,
#stamina,
#spirit {
  width: 50px;
}