@import url('https://fonts.googleapis.com/css?family=Gelasio:400,400i,600,600i|Roboto:400,400i,600,600i|Roboto Mono:100,100i,400,400i,600,600i|Source+Code+Pro:400,400i,600,600i&display=swap');

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Verdana', 'Helvetica';
  font-size: 12px;
  box-sizing: border-box;
  background: black;
  color: #a0a0a0;
}

h2 {
  font-family: 'Verdana', 'Helvetica';
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

h3 {
  font-family: 'Verdana', 'Helvetica';
  font-size: 1.3rem;
  font-style: italic;
  color: white;
}

circle {
    fill: white;
}

.clickable {
  margin-bottom: 5px;
  border-spacing: 0 5px;
}

.clickable:hover {
  text-decoration: underline;
  cursor: default;
}

.compass-square {
    width: 15;
    height: 15;
    textAlign: "center";
    fill: white;
}

.form-group {
  margin: 5px;
  padding: 10px;
}

.hand-panel {
  color: white;
  background: gray;
}

.game-text {
  white-space: pre-wrap;
  margin-left: 3px;
  margin-right: 3px;
}

.game-window {
  height: calc(90vh - 208px);
}

.left-column {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100vh;
  padding-left: .5em;
}

.main-column {
  flex-basis: calc(100vw - 400px);
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
}

#measurer-div {
  /* visibility: hidden; */
  /* white-space: pre-wrap; */
  position: absolute;
  top: -9999px;
}

.monospace {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.85rem;
}

path {
    fill: white;
}

.preserve-space {
  white-space: pre-wrap;
}

.right-column {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100vh;
  padding-right: .5em;
}

.panel-window {
  width: 100%;
  flex-basis: 25vh;
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom: 1px solid white;
}

.panel-window-content {
  height: calc(25vh - 50px);
  overflow-y: scroll;
}

.room-window {
  height: 10vh;
}

strong {
  font-weight: 600;
}

.unavailable {
  background-color: grey;
}

/* ::-webkit-scrollbar {
  width: 12px;
} */

/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
} */
