@import url('https://fonts.googleapis.com/css?family=Gelasio:400,400i,600,600i|Source+Code+Pro:400,400i,600,600i&display=swap');

* {
  box-sizing: inherit;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Gelasio', serif;
  font-size: 12px;
  box-sizing: border-box;
  /* color: white;
  background-color: black; */
}

.game-text {
  white-space: pre-wrap;
}

.monospace {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.85rem;
}

strong {
  font-weight: 600;
}

#measurer-div {
  /* visibility: hidden; */
  white-space: pre-wrap;
  position: absolute;
  top: -9999px;
  width: 983px;
}